.checkout-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.payment-options {
  flex: 1;
}

.shipping-method,.payment-method{
  margin-bottom: 100px;
  margin-left: 270px;
}

.shipping-method h2, .payment-method h2{
  font-size: 30px;
}

.option {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.option input[type="radio"]{
  transform: scale(1.4);
  accent-color: #0b0b0b;
}