@import "style.css";

.confirm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.confirm-box {
    width: 100%;
    max-width: 500px;
    background: #efece9b1;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid rgba(15, 23, 42, 0.12);
}

.confirm-box p {
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}

.summary {
    margin: 20px 0;
    text-align: left;
    border-top: 1px solid #693b07;
}

.summary p {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
    margin: 8px;
}

.confirm-box h2{
    text-align: right;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 28px;
}

.confirm-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 12px;
    flex-wrap: wrap;
}

.btn {
    flex: 1;
    text-decoration: none;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    transition: 0.2s;
}

.primary {
    background: #5f4037;
    color: white;
    font-weight: 600;
}

.primary:hover {
    background: black;
}

.secondary {
    background: transparent;
    color: black;
    border: 1.5px solid #c0b8b0;
}

.secondary:hover {
    background: #cdbba9;
}

/* MOBILE */
@media (max-width: 768px) {
    .confirm-box {
        padding: 20px;
    }

    .confirm-buttons {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }
}